@import '_variables.scss';
@import 'animate.css';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

input {
	display: block;
	padding: 5px 9px 7px 9px;
	border-radius: 2px;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #d3d9de;
	color: #000;
	&:focus {
		border-color: #c9d0d6;
		outline: none;
	}
}


.link {
	font-size: 13px;
	color: #4a76a8;
	cursor: pointer;
	text-decoration: underline;
}

.button-close {
	appearance: none;
	position: absolute;
	top: .5rem;
	right: 1rem;
	width: 12px;
	line-height: 1;
	opacity: 0.75;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	background-color: transparent;
	font-size: 20px;
	&:hover {
		opacity: 1;
	}
}

.button {
	padding: 7px 16px 8px;
	margin: 0;
	font-size: 12.5px;
	display: inline-block;
	zoom: 1;
	cursor: pointer;
	white-space: nowrap;
	outline: none;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
	vertical-align: top;
	line-height: 15px;
	text-align: center;
	text-decoration: none;
	background: none;
	background-color: #5181b8;
	color: #fff;
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	&:hover {
		background-color: #5b88bd;
		text-decoration: none;
	}
	&:active {
		background-color: #4872a3;
		padding-top: 8px;
		padding-bottom: 7px;
	}
}