$panel-width: 230px;

$gray: #ccc;

$black: #000;
$white: #fff;
$blue-light: blue;

$blue: #2a5885;
$blue-border: #5181b8;

$gray-light: #e7edf2;
$gray-dark: #5d6d80;
$gray: #c5d0db;
$gray-middle: #dce1e6;

$gray-65 :#656565;

$gray1: #cad2db;
$gray2: #e7e8ec;