<template>
	<div class="app-logo" :style="{height: options.size+'px', width: options.size+'px'}">
		<svg :style="{fill: options.color}" class="app-logo__border" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 539.1 539.1">
			<path class="st0" d="M269.5 539c-41.7 0-81.8-9.2-119-27.6-7.8-3.8-11-13.3-7-21 3.7-7.8 13.2-11 21-7 33.3 16.4 69.4 24.6 107 24.3 130.2-1 236.2-107.8 236.2-238 0-131.4-106.8-238.2-238-238.2C140 31.5 33.2 136.7 31.4 266c-.6 41 9.4 81.7 29 117.5 2 3.5 2.4 7.7 1.4 11.6l-20.3 75.4 48.6-13c8.4-2.2 17 2.7 19.2 11 2.2 8.5-2.7 17-11 19.3l-62 16.6c-8 2.2-16.8-.2-22.7-6-6-6-8.2-14.7-6-22.8l22-82.6C9.8 353.7-.6 310 0 265.5c1-71.3 29.5-138 80.3-188C131 27.5 198.3 0 269.6 0 418.2 0 539 121 539 269.6c0 72-27.6 139.4-78 190-50.2 50.8-117.5 79-189.3 79.6h-2.2z"></path>
		</svg>
		<svg :style="{fill: options.color}" class="app-logo__symbol" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 539.1 539.1">
			<path class="st0" d="M355.2 280c-1.8-2.8-4-6-6.6-9.4-11.8-14.7-29.8-35-54-60.7-10.8-11.5-18.7-20.8-23.7-28-1.6-2.7-2.7-5.7-2.6-9 0-2 .8-4 2-5.5.5-.8 1.2-1.5 2-2 1-1 2.8-1.8 4.3-2 2-.6 4-.8 6-1 6.3-.6 12.7 0 19 1.2 8.3 2 16.5 5 24.2 9 3.3 1.6 6.7 3.6 10 5.7l2.6 1.8s.8.7 1 .7c2 1.5 4.4 2.5 7 2.5 6.4 0 11.5-5 11.5-11.4 0-1.8-.4-3.5-1.2-5-1-2.4-3-5-6.4-8-4.7-4.3-10.3-8-16.7-11.3-17.2-8.4-36-12.5-56.7-12.5-29.4 0-54.2 7.2-74.3 21.5C182.2 171.3 172 190 172 213c0 15.2 5.4 31.2 16 48 2 3 4 6 6.7 9.5 11.8 14.7 29.8 35 54 60.7 10.4 11 18 20 23 27l.4.5c2 3 3.2 6.2 3 9.6 0 2-.8 4-2 5.6-.5.7-1.2 1.4-2 2-1 1-2.8 1.7-4.3 2-2 .5-4 .7-6 1-6.3.5-12.7 0-19-1.3-8.3-2-16.5-5-24.2-9-3.4-1.6-6.8-3.6-10-5.7l-2.7-1.8s-.8-.7-1-.7c-2-1.6-4.4-2.6-7-2.6-6.4 0-11.5 5-11.5 11.3 0 2.2.6 4.2 1.7 6 1 2 3 4.2 6 6.8 4.6 4.3 10.2 8 16.6 11.3 17.2 8.4 36 12.5 56.7 12.5 29.4 0 54.2-7.2 74.3-21.5 20.5-14.6 30.7-33.4 30.7-56.3 0-15-5.4-31.2-16-48z"></path>
		</svg>
	</div>
</template>

<script>
export default {
	name: 'AppLogo',
	props: {
		options: {
			type: Object,
			default() {
				return {
					size: 50,
					color: '#ffffff'
				}
			}
		}
	}
}
</script>

<style lang="scss">

.app-logo {
	
	position: relative;
	svg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	&__border {

	}
	&:hover &__symbol {
		transform-style: preserve-3d;
		animation: logo-rotate 2s linear;
	}
}

@keyframes logo-rotate {
	100% {
		transform:rotateY(360deg);
	}
}
</style>