<template>
	<div class="tabs">
		<ul class="tabs__head">
			<li v-for="tabName, id in tabs" 
			:class="{active: id == tabActive}" 
			class="tabs__button"
			@click="selectTab(id)">{{ tabName }}</li>
		</ul>
		<div class="tabs__underline" :style="{width: widthButton+'px', left: offsetLeft+'px'}"></div>
		<div class="tabs__body">
			<div v-for="slot, id in tabs"
			:class="{active: id == tabActive}"
			:key="id"
			v-show="id == tabActive"
			class="tabs__item">

			<slot :name="id"></slot>

		</div>
	</div>
</div>

</template>

<script>

export default {
	name: 'BaseTabs',

	props: {
		tabs: {
			type: Array,
			required: true
		},
		width: {
			type: Number,
			required: true
		}
	},
	data() {
		return {
			tabActive: 0
		}
	},
	computed: {
		tabsCount() {
			return this.tabs.length
		},
		widthButton() {
			return (this.width - (this.tabsCount-1)*32) / this.tabs.length;
		},
		offsetLeft() {
			return this.tabActive * (this.widthButton + 32)
		}
	},
	methods: {
		selectTab(id) {
			this.tabActive = id;
		}
	}
}

</script>

<style lang="scss">
@import '../styles/_variables.scss';

.tabs {
	position: relative;
	&__head {
		display: flex;
		list-style: none;
		padding: 9px 0 0;
		margin: 0 25px 0;
		border-bottom: 1px solid $gray2;
	}
	&__button {
		line-height: 1.3;
		cursor: pointer;
		padding: 12px 8px 11px;
		font-size: 12.5px;
		color: $gray-65;
		margin-bottom: -1px;
		border-bottom: 2px solid transparent;
		&:not(:last-child) {
			margin-right: 6px;
		}
		&:hover {
			border-color: $gray1;
		}
		&.active {
			color: $black;
			border-color: $blue-border;
		}
	}
	&__body {
		margin: 0 25px 0;
	}
	&__item {

	}
	&__underline {
		display: none;
		position: absolute;
		left: 0;
		top: 2.5rem;
		height: 1px;
		//background: $blue;
		box-shadow: 0 1px 1px $blue;
		transition: left .4s ease-in-out;
	}
}

</style>