<template>
	<div class="input">
		<input class="input__input"
		type="text"
		v-model="inputValue"
		@input="input"
		>
		<div
		class="input__reset"
		v-if="isBtnDel"
		@click="reset"
		>&times;</div>
	</div>
</template>

<script>
export default {
	name: 'BaseInputText',
	data() {
		return {
			inputValue: this.value
		}
	},
	props: {
		id: {
			type: Number,
			default: 0
		},
		value: {
			default: '',
		},
		options: {
			btnDel: {
				type: Boolean,
				default: true
			}
		}
	},
	computed: {
		isBtnDel() {
			return !!inputValue && options.btnDel
		}
	},
	methods: {
		input() {
			this.$emit('input', event.target.value)
		},
		reset() {
			this.inputValue ='';
			this.$emit('input', event.target.value);
		}
	},
	watch: {
		value() {
			this.inputValue = this.value
		}
	}
}
</script>

<style lang="scss">
@import '../styles/_variables.scss';

.input {
	position: relative;
	display: inline-block;
	margin-bottom: .5rem;
	&__input {
		padding-right: 29px;
	}
	&__reset {
		position: absolute;
		padding: 0;
		right: 9px;
		top: 50%;
		transform: translateY(-50%);
		background: transparent;
		font-size: 1.2rem;
		border: none;
		color: $gray;
		cursor: pointer;
		&:hover {
			color: $blue-light;
		}
	}
}
</style>