<template>
	<div class="link-dropdown">
		<a @click="dropdownOpened = true">{{ nameActive }}</a>
		<transition leave-active-class="animated-fast fadeOut">
			<div class="dropdown" 
			v-if="dropdownOpened" 
			@mouseout="close">
			<div class="dropdown__rows">
				<div class="dropdown__header" @click="close">
					<div class="dropdown__header-label">{{ nameActive }}</div>
				</div>
				<div class="dropdown__body" @mouseout="selected = -1">
					<div class="dropdown__item" 
					v-for="item in list" 
					:key="item.id"
					:class="{sel: selected == item.id}"
					@mouseover="selected = item.id"
					@click="select(item.id)"
					>{{ item.name }}</div>
				</div>
			</div>
		</div>
	</transition>
</div>

</template>

<script>

import _ from '../utils';

export default {
	name: 'BaseDropdown',
	data() {
		return {
			dropdownOpened: false,
			selected: this.active,
		}
	},
	props: {
		list: {
			type: Array,
			required: true
		},
		active: {
			type: Number,
			default: 0
		}
	},
	computed: {
		nameActive() {
			return _.propById(this.list, this.active, 'name')
		}
	},
	methods: {
		select(newValue) {
			this.close();
			this.$emit('update:active', newValue);
		},
		close(e) {
			let selfClassNames = [
			'dropdown__item',
			'dropdown__item sel',
			'dropdown__header',
			'dropdown__header-label'];
			let self = this;
			if (e && e.toElement) {
				if (!~selfClassNames.indexOf(e.toElement.className)) {
					setTimeout(function() {
						self.dropdownOpened = false;
					}, 200)
				}
			} else self.dropdownOpened = false;
		}
	}
}
</script>

<style lang="scss">
@import '../styles/_variables.scss';
.link-dropdown {
	position: relative;
	display: inline-block;
	a {
		font-size: 13px;
		user-select: text;
		color: $blue;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	.dropdown {
		left: auto;
		right: -11px;
		top: -7px;
	}
}
.dropdown {
	font-size: 13px;
	cursor: pointer;
	border: 1px solid $gray;
	position: absolute;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	z-index: 100;
	line-height: 1.154;
	user-select: none;
	text-align: left;
	&__rows {
		white-space: nowrap;
	}
	&__header {
		border: 1px solid $gray;
		border-width: 0 0 1px;
		color: $gray-dark;
		background-color: $gray-middle;
	}
	&__header-label {
		padding: 6px 26px 7px 12px;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 12px;
			right: 10px;
			width: 9px;
			height: 5px;
			background: url(https://vk.com/images/icons/multidd.png?2) no-repeat;
			background-position: left -38px;
		}
	}
	&__body {
		background: #fff;
	}
	&__item {
		padding: 6px 26px 7px 12px;
		color: $blue;
		overflow: hidden;
		&.sel {
			background-color: $gray-light;
		}
	}
}
</style>