<template>
	<div class="main-panel" :class="{active: isActive}">
		<div class="panels">
			<div class="panel panel-1">
				<div class="panel__header">
					<div class="app-title">
						<div class="app-title__logo">
							<app-logo :options="{size: 30, color: '#ffffff'}"/>
						</div>
						<div class="app-title__text">
							Social CRM SREDA
						</div>
					</div>
				</div>
				<div class="panel__body">
					<div class="panel__content">
						<menu-main/>
					</div>
					<button class="button-close" @click="$emit('close')">&times;</button>

					
					<button class="button" @click="isPanel2 = !isPanel2"> >>> </button>
				</div>
				<div class="panel__footer">
					<div class="footer-links">
					<span class="link" @click="modalActive = true">Личный кабинет</span>
					<span class="link" @click="messageSupport">Служба поддержки</span>
					<a class="link" href="https://vk.com/sreda_one?z=video-130806445_456239017%2Fvideos-130806445">Видео о CRM SREDA</a>
					</div>
				</div>
			</div>
			<transition enter-active-class="animated fast zoomInLeft" leave-active-class="animated fast slideOutLeft">
				<div class="panel panel-2" :class="{active: isPanel2}" v-if="isPanel2">
					<div class="panel__header"></div>
					<div class="panel__body"></div>
				</div>
			</transition>
		</div>
		<modal-window v-if="modalActive" :options="{preloader: true}" title="Настройки" @close="modalActive = false">
			<settings slot="body"/>
		</modal-window>
	</div>
</template>

<script>

export default {
	name: 'MainPanel',
	data () {
		return {
			isPanel2: false,
			modalActive: false
		}
	},
	props: [
	'isActive'
	],
	methods: {
		messageSupport() {
			showWriteMessageBox(event, -130806445);
		}
	},
	components: {
		WorkPanel: () => import('./WorkPanel.vue'),
		AppLogo: () => import('./AppLogo.vue'),
		MenuMain: () => import('./MenuMain.vue'),
		Settings: () => import('./Settings.vue'),
	}
}
</script>

<style lang="scss" scoped>
@import '../styles/_variables.scss';
.main-panel {
	position: fixed;
	color: #000;
	left: 0;
	bottom: 0;
	overflow: hidden;
	height: 100vh;
	transition: max-width .2s ease, height .2s ease;
}

.app-title {
	padding: 0 1rem;
	display: flex;
	align-items: center;
	line-height: 41px;
	&__logo {
		margin-right: .5rem;
	}
	&__text {
		text-transform: uppercase;
		font-size: 13px;
		color:#fff;
	}
}

.panels {
	display: flex;

}
.panel {
	width: $panel-width;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	&__header {
		height: 41px;
		background-color: #4a76a8;
		border-bottom: 1px solid #4872a3;
		flex: 0 0 41px;
	}
	&__body {
		border-right: 1px solid rgba(74, 118, 168, .3);
		padding: 0 1rem;
		flex: 1;
	}
	&__footer {
		padding: 2rem 1rem;
		border-right: 1px solid rgba(74, 118, 168, .3);
	}
	&.panel-1 {
		z-index: 10;
	}
	&.panel-2 {
		
		
	}
}

.footer-links {
	display: flex;
	flex-direction: column;
	margin: -3px 0;
	.link {
		display: inline-block;
		margin: 3px 0;
	}
}
</style>