<template>
	<div class="panel-menu">
		<div v-for="item in menu" :key="item.id">
			<div class="panel-menu__item">
				<div class="panel-menu__item-icon">{{ item.id }}</div>
				<div class="panel-menu__item-text">{{ item.name }}</div>
			</div>
		</div>
	</div>
</template>

<script>
import _ from '../utils';

export default {
	name: 'MenuMain',
	data() {
		return {
			menu: [
			{
				id: 0,
				name: 'Сделки'
			},
			{
				id: 1,
				parentId: 0,
				name: 'Контакты'
			},
			{
				id: 2,
				name: 'Товары'
			}
			]
		}
	}
}
</script>

<style lang="scss">

.panel-menu {
	margin-bottom: 2rem;
	&__item {
		display: flex;
		align-items: center;
		padding: 0.5rem 14px 0.5rem 0;
		border-bottom: 1px solid #ccc;
		color: #4d3f62;
		font-size: 13px;
		line-height: 32px;
		cursor: pointer;
	}
	&__item-icon {
		text-align: center;
		width: 32px;
		margin-right: 1rem;
	}
	&__item-text {

	}
}

</style>