<template>
	<div class="modal-wrapper">
		<Preloader v-if="!isReady"/>
		
		<div class="modal-overlay" v-show="isReady">
			<transition name="modal">
				<div class="modal-box" :style="{width: width+'px'}">
					<div class="modal-header">
						<div class="modal-header-inner">
							{{ title }}
						</div>
						<div class="modal-close" @click="$emit('close')">&times;</div>
					</div>
					<div class="modal-body">
						<slot name="body"></slot>
					</div>
					<div class="modal-footer">
						<slot name="buttons">
							<button class="button" @click="$emit('close')">Закрыть</button>
						</slot>
					</div>
				</div>
			</transition>
		</div>
	</div>

</template>

<script>

import ClickOutside from 'vuetify/src/directives/click-outside'

export default {
	name: 'ModalWindow',
	directives: {
		ClickOutside
	},
	data () {
		return {
			isReady: !this.options.preloader,
			width: 560
		}
	},
	props: {
		options: {
			type: Object,
			default() {
				return {
					preloader: false
				}
			}
		},
		title: {
			type: String,
			required: true
		}
	},
	methods: {
		ready() {
			console.log('ready');
			this.isReady = true;
		},
		close() {
			this.$emit('close')
		}
	},
	components: {
		Preloader: () => import('./Preloader.vue')
	}
}
</script>

<style lang="scss">
@import '../styles/_variables.scss';

.modal-wrapper, .modal-overlay {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal-wrapper .preloader {
	position: relative;
	margin: 300px auto 0;
	transform: none;
	top: auto;
	left: auto;
	z-index: 999
}

.modal-overlay {
	background-color: rgba(0, 0, 0, .7);
	transition: opacity .3s ease;
}

.modal-box {
	position: relative;
	height: auto;
	margin: 130px auto 0;
	z-index: 1000;
	box-shadow: 0 2px 10px rgba(0,0,0,.35);
	outline: none;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
}
.modal-close {
	width: 12px;
	line-height: 1;
	opacity: 0.75;
	cursor: pointer;
	outline: none;
	color: #fff;
	font-size: 20px;
	&:hover {
		opacity: 1;
	}
}


.modal-header {
	padding: 0 25px;
	background-color: #5b88bd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 54px;
	border-radius: 4px 4px 0 0;
}
.modal-header-inner {
	font-size: 14px;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.modal-body {
	background-color: #fff;
}

.modal-footer {
	height: 3rem;
	padding: 0 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #fff;
	border-radius: 0 0 4px 4px;
}


.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
</style>