<template>
	<div class="preloader">
		<div class="preloader__back"></div>
		<div class="preloader__dots">
			<div class="preloader__dt" v-for="n in 3"></div>
		</div>
		
	</div>
</div>
</template>

<script>
export default {
	name: 'Preloader',
}
</script>

<style lang="scss">
@import '../styles/_variables.scss';
.preloader {
	z-index: 1000;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1000;
	width: 100px;
	transform: translate(-50%,-50%);
	&__dots {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__dt {
		width: 7px;
		height: 7px;
		border-radius: 50%;
		margin: 0 2px;
		background-color: #fff;
		animation-duration: 750ms;
		animation-name: pr_bt_anim;
		animation-iteration-count: infinite;
		&:nth-child(1) {
			animation-delay: 0ms;
		}
		&:nth-child(2) {
			animation-delay: 180ms;
		}
		&:nth-child(3) {
			animation-delay: 360ms;
		}
	}
	&__back {
		background-color: #000;
		opacity: 0.7;
		height: 50px;
		border-radius: 4px;
		box-shadow: 0 2px 10px rgba(0,0,0,.35);
	}
}
@keyframes pr_bt_anim {
	0% {
		opacity:0.2
	}
	30% {
		opacity:1
	}
	to {
		opacity:0.2
	}
}
</style>