<template>
	<div class="settings">
		<transition leave-active-class="animated fadeOut">
			<div v-if="isStatusMessage" class="settings__status">{{ statusMessage }}</div>
		</transition>
		
		
		<base-tabs :tabs="tabs" :width="width">
		<div class="s" slot="0">
			<div class="settings__row" v-for="item in values" :key="item.id">
				<div class="settings__name">{{ item.title }}</div>
				<div class="settings__value">
					<base-dropdown
					:list="item.list" 
					:active.sync="item.selected"
					/>
				</div>
			</div>
		</div>
		<div slot="1">
			SLOT TAB2
		</div>

	</base-tabs>
	<preloader v-if="!isLoaded && options.preloader" />
</div>
</template>

<script>

import Api from '../api';

export default {
	name: 'Settings',
	data() {
		return {
			width: 0,
			isLoaded: false,
			isStatusMessage: false,
			statusMessage: 'Изменения сохранены',
			values: [],
			tabs: ['Настройки','Платные услуги']
		}
	},
	props: {
		options: {
			type: Object,
			default() {
				return {
					preloader: false
				}
			}
		}
	},
	computed: {
		
	},
	methods: {
		save() {
			Api
			.save(this.values)
			.then(this.showStatusMessage(500))
		},
		showStatusMessage(pause) {
			let self = this;
			return function() {
				self.isStatusMessage = true;
				setTimeout(function() {
					self.isStatusMessage = false;
				}, pause)
			}
		}
	},
	watch: {
		values: {
			handler() {
				this.isLoaded ? this.save() : this.isLoaded = true;
			},
			deep: true
		}
	},
	mounted() {
		this.width = this.$parent.width-64; // не удалось нормально получить ширину элемента из-за порядка монтирования
		Api.load().then(data => {
			this.values = data;
			this.$parent.isReady = true;
		})
	},
	components: {
		Preloader: () => import('./Preloader.vue'),
		BaseTabs: () => import('./BaseTabs.vue')
	}
}
</script>

<style lang="scss">
@import '../styles/_variables.scss';

.settings {
	background: $white;
	position: relative;
	height: 16rem;
	&__status {
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px 10px;
		background-color: #656565;
		color: #fff;
		font-size: 13px;
		font-weight: 300;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 3rem;
		position: relative;
		margin: 0 -20px;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		&+&:after {
			position: absolute;
			display: block;
			content: '';
			background: #e7e8ec;
			height: 1px;
			top: -1px;
			left: 0;
			right: 0;
		}
	}
	&__name {
		font-size: 13px;
	}
	&__value {

	}
}
</style>