<template>
	<div class="work-panel">
		<button class="button-close" @click="close">&times;</button>
		<button class="button" @click="modalActive = true">Настройки</button>
		<modal-window v-if="modalActive" :options="{preloader: true}" title="Настройки" @close="modalActive = false">
			<settings slot="body"/>
		</modal-window>
		
	</div>
</div>
</template>

<script>

export default {
	name: 'WorkPanel',
	data () {
		return {
			
			modalActive: false
		}
	},
	props: [
	'isActive'
	],
	methods: {
		close() {
			this.$emit('close')
		},
		openModal() {
			this.modalActive = true
		}
	},
	components: {
		Settings: () => import('./Settings.vue')
	}
}
</script>

<style lang="scss">
@import '../styles/_variables.scss';
.work-panel {
	position: fixed;
	background: yellow;
	color: #000;
	left: 300px;
	right: 0;
	top: 0;
	bottom: 0;
	box-shadow: 1px 0 5px $gray;
	padding: 1rem;
	transition: max-width .2s ease, height .2s ease;
}



</style>