<template>
	<div class="app">
		<transition  enter-active-class="animated fast zoomInLeft" leave-active-class="animated fast fadeOut">
			<main-panel :isActive="isOpened" v-if="isOpened" @close="closePanel()"/>
			<div class="opener-main-panel" v-else @click="openPanel()">
				<app-logo :options="{size: 78, color: '#4B4162'}"/>
			</div>
		</transition>
		
	</div>
</template>

<script>


export default {
	name: 'App',
	data () {
		return {
			isOpened: false
		}
	},
	methods: {
		openPanel: function() {
			this.isOpened = true;
		},
		closePanel: function() {
			this.isOpened = false;
		},
	},
	components: {
		MainPanel: () => import('./components/MainPanel.vue'),
		AppLogo: () => import('./components/AppLogo.vue')
	}
}

</script>

<style lang="scss">
@import './styles/_variables.scss';
.opener-main-panel {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	width: 78px;
	height: 78px;
	cursor: pointer;
	&__logo {
		svg {
			position: absolute;
			fill:#4B4162;
			left: 0;
			top: 0;
		}
		&:hover {
			svg:last-child {
				transform-style: preserve-3d;
				animation: logo-rotate 2s linear;
			}
		}
	}
}

</style>